@import "variables.less";

.container {
  max-width: @maxw;
  margin: 0 auto;
  padding: 8px 16px;
}

body {
  font-family: Inter, Segoe UI, Roboto, Arial, sans-serif;
  margin: 0;
  color: #222;
  background: @bg;
  line-height: 1.55;
}

* {
  box-sizing: border-box;
}
