@import "variables.less";

h2 {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 1.5em 0 0.7em 0;
  color: @dark;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 600px) {
  h2 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
